button,
button.font,
button.image-button,
button.radio,
button.text-button.destructive-action,
button.text-button.suggested-action,
button.toggle,
button.toggle.flat,
dialog box > button,
dialog grid > button,
window.csd stack > box.vertical > box.horizontal > box.horizontal > box.vertical > button.image-button.flat,
.inline-toolbar button {
    background-color: @tone_darkest;
    border: 2px solid @tone_mid;
    box-shadow: inset 0 0 0 2px @tone_darkest;
    color: @tone_mid;
    margin: 0;
    min-height: 24px;
    min-width: 24px;
    padding: 5px;
}

button:hover,
button.font:hover,
button.image-button:hover,
button.radio:hover,
button.text-button.destructive-action:hover,
button.text-button.suggested-action:hover,
button.toggle:hover,
button.toggle.flat:hover,
dialog grid > button:hover,
dialog box > button:hover,
window.csd stack > box.vertical > box.horizontal > box.horizontal > box.vertical > button.image-button.flat:hover,
.inline-toolbar button:hover {
    background-color: @tone_light;
    border: 2px solid @tone_light;
    box-shadow: inset 0 0 0 2px @tone_light;
    color: @tone_darkest;
    margin: 0;
    min-height: 24px;
    min-width: 24px;
    padding: 5px;
}

button:active,
button:checked,
button.font:active,
button.font:checked,
button.image-button:active,
button.image-button:checked,
button.radio:active,
button.radio:active,
button.text-button.destructive-action:active,
button.text-button.destructive-action:checked,
button.text-button.suggested-action:active,
button.text-button.suggested-action:checked,
button.toggle:active,
button.toggle:checked,
button.toggle.flat:active,
button.toggle.flat:checked,
dialog grid > button:active,
dialog grid > button:checked,
dialog box > button:active,
dialog box > button:checked,
window.csd stack > box.vertical > box.horizontal > box.horizontal > box.vertical > button.image-button.flat:active,
window.csd stack > box.vertical > box.horizontal > box.horizontal > box.vertical > button.image-button.flat:checked,
.inline-toolbar button:active,
.inline-toolbar button:checked {
    background-color: @tone_lightest;
    border: 2px solid @tone_lightest;
    box-shadow: inset 0 0 0 2px @tone_lightest;
    color: @tone_darkest;
    margin: 0;
    min-height: 24px;
    min-width: 24px;
    padding: 5px;
}

button:disabled,
button.font:disabled,
button.image-button:disabled,
button.radio:disabled,
button.text-button.destructive-action:disabled,
button.text-button.suggested-action:disabled,
button.toggle:disabled,
button.toggle.flat:disabled,
dialog grid > button:disabled,
dialog box > button:disabled,
window.csd stack > box.vertical > box.horizontal > box.horizontal > box.vertical > button.image-button.flat:disabled,
.inline-toolbar button:disabled {
    background-color: @tone_darkest;
    border: 2px solid @tone_dark;
    box-shadow: inset 0 0 0 2px @tone_darkest;
    color: @tone_dark;
    margin: 0;
    min-height: 24px;
    min-width: 24px;
    padding: 5px;
}

button > label {
    color: @tone_mid;
}

button:hover > label {
    color: @tone_darkest;
}

button:active > label,
button:checked > label {
    color: @tone_darkest;
}

button:disabled > label {
    color: @tone_dark;
}

box > button.image-button,
box > button.image-button:hover,
box > button.image-button:active,
box > button.image-button:checked,
box > button.image-button:disabled {
    margin: 0;
}

box > button.image-button:first-child,
box > button.image-button:hover:first-child,
box > button.image-button:active:first-child,
box > button.image-button:checked:first-child,
box > button.image-button:disabled:first-child {
    margin: 0 0 0 2px;
}

box > button.image-button:last-child,
box > button.image-button:hover:last-child,
box > button.image-button:active:last-child,
box > button.image-button:checked:last-child,
box > button.image-button:disabled:last-child {
    margin: 0 2px 0 0;
}
