calendar {
    background-color: @tone_darkest;
    border: 2px solid @tone_mid;
    border-radius: 0px;
    box-shadow: inset 0 0 0 4px @tone_mid, inset 0 0 0 2px @tone_darkest;
    color: @tone_light;
    padding: 4px;
}

calendar.button {
    background-color: @tone_darkest;
    border: 2px solid @tone_mid;
    border-radius: 0px;
    box-shadow: none;
    color: @tone_light;
    margin: 0px;
    padding: 0px;
}

calendar.button:hover {
    background-color: @tone_light;
    border: 2px solid @tone_light;
    border-radius: 0px;
    box-shadow: none;
    color: @tone_darkest;
    margin: 0px;
    padding: 0px;
}

calendar.button:disabled {
    background-color: @tone_darkest;
    border: 2px solid @tone_dark;
    border-radius: 0px;
    box-shadow: none;
    color: @tone_darkest;
    margin: 0px;
    padding: 0px;
}

calendar.header {
    background-color: @tone_mid;
    border-bottom: 0px;
    border: none;
    box-shadow: none;
    color: @tone_darkest;
}

calendar.highlight {
    background-color: @tone_darkest;
    border: none;
    box-shadow: none;
    color: @tone_mid;
}

calendar:indeterminate {
    box-shadow: none;
    color: @tone_dark;
}

calendar:selected {
    background-color: @tone_light;
    border: none;
    box-shadow: none;
    color: @tone_darkest;
    padding: 4px;
}
