scrollbar {
    background-color: @tone_darkest;
    border: 2px solid @tone_mid;
    box-shadow: inset 0 0 0 2px @tone_darkest;
    color: @tone_mid;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    padding: 2px;
}

scrollbar slider {
    background-color: @tone_mid;
    border: 2px solid @tone_mid;
    box-shadow: inset 0 0 0 2px @tone_mid;
    color: @tone_mid;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    padding: 5px;
}

scrollbar slider:hover {
    background-color: @tone_light;
    border: 2px solid @tone_light;
    box-shadow: inset 0 0 0 2px @tone_light;
    color: @tone_darkest;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    padding: 5px;
}

scrollbar slider:active,
scrollbar slider:checked {
    background-color: @tone_lightest;
    border: 2px solid @tone_lightest;
    box-shadow: inset 0 0 0 2px @tone_lightest;
    color: @tone_darkest;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    padding: 5px;
}

scrollbar slider:disabled {
    background-color: @tone_dark;
    border: 2px solid @tone_dark;
    box-shadow: inset 0 0 0 2px @tone_dark;
    color: @tone_dark;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    padding: 5px;
}

scrollbar button {
    background-color: @tone_mid;
    border: 2px solid @tone_mid;
    box-shadow: inset 0 0 0 2px @tone_mid;
    color: @tone_darkest;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    padding: 5px;
}

scrollbar button:hover {
    background-color: @tone_light;
    border: 2px solid @tone_light;
    box-shadow: inset 0 0 0 2px @tone_light;
    color: @tone_darkest;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    padding: 5px;
}

scrollbar button:active,
scrollbar button:checked {
    background-color: @tone_lightest;
    border: 2px solid @tone_lightest;
    box-shadow: inset 0 0 0 2px @tone_lightest;
    color: @tone_darkest;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    padding: 5px;
}

scrollbar button:disabled {
    background-color: @tone_dark;
    border: 2px solid @tone_dark;
    box-shadow: inset 0 0 0 2px @tone_dark;
    color: @tone_darkest;
    margin: 0;
    min-height: 0px;
    min-width: 0px;
    padding: 5px;
}

scrollbar.vertical button.up,
scrollbar.vertical button.top {
    background-image: -gtk-icontheme("pan-up-symbolic");
}

scrollbar.vertical button.down,
scrollbar.vertical button.bottom {
    background-image: -gtk-icontheme("pan-down-symbolic");
}

scrollbar.horizontal button.up,
scrollbar.horizontal button.left {
    background-image: -gtk-icontheme("pan-start-symbolic");
}

scrollbar.horizontal button.down,
scrollbar.horizontal button.right {
    background-image: -gtk-icontheme("pan-end-symbolic");
}

scrollbar.horizontal button.up:dir(rtl),
scrollbar.horizontal button.left:dir(rtl) {
    background-image: -gtk-icontheme("pan-end-symbolic-rtl");
}

scrollbar.horizontal button.down:dir(rtl),
scrollbar.horizontal button.right:dir(rtl) {
    background-image: -gtk-icontheme("pan-start-symbolic-rtl");
}
