window.thunar statusbar > frame,
window.thunar statusbar > frame > border {
    border: 0;
}

window.thunar statusbar > frame,
window.thunar statusbar > frame > border,
window.thunar grid > widget {
    box-shadow: inset 0 2px 0 @tone_mid;
}

window.thunar scrolledwindow.frame.standard-view {
    border: 0;
}

window.thunar scrolledwindow.frame.sidebar.shortcuts-pane {
    border: 0;
}
