XfdesktopIconView.view {
    background-color: transparent;
    color: @tone_mid;
}

XfdesktopIconView.view:selected {
    background-color: @tone_lightest;
    color: @tone_darkest;
}

XfdesktopIconView.view .rubberband,
XfdesktopIconView.view rubberband {
    background-color: alpha(@tone_lightest, 0.10);
    background-image: none;
    border: 1px dotted @tone_lightest;
}
