decoration {
    box-shadow: 0 0 0 6px @tone_mid, 0 0 0 4px @tone_darkest, 0 0 0 2px @tone_mid;
}

window,
window.background,
.background {
    background-color: @tone_darkest;
    color: @tone_mid;
}

label {
    background-color: transparent;
    color: inherit;
}
